.bigTitle {
   font-size: 35px;
}

body {
    background: white;
    background-image: url("images/backgroundPortfolio.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 100% auto;
    background-attachment: fixed;
    font-family: Corbel;
    font-size: 18px;
    padding: 20px;
}



/*tab stuff down here*/
/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    margin-right: 15px;
    font-size: 18px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgba(147, 112, 219, 0.63);
    border-radius: 4px;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgba(141, 68, 216, 0.71);
    border-radius: 4px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    background: rgba(255, 237, 241, 0.55);
    border-radius: 8px;
}



/*blog stuff down here*/
* {
    box-sizing: border-box;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: #ffc2c2;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #ffc7c7;
    width: 100%;
    padding: 20px;
}

div.scroll-container {
    background-color: #ffc3c3;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    height: 200px;
}

/* Add a card effect for articles */
.card {
    background-color: #fff6f6;
    padding: 20px;
    margin-top: 20px;
    border-radius: 4px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 22px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}



/*who am i page down here*/
.mintSprite {
    height: 150px;
    float: right;
    bottom: 5px;
    right: 5px;
    position: fixed;
    z-index: 3;
}



/*learning outcomes page down here*/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #ffbfbf;
    color: #472061;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    text-align: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible.active, .collapsible:hover {
    background-color: #dfa1dc;
    color: #ffffff
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: rgba(251, 191, 244, 0.64);
}

.lonk {
    width: 200px;
    margin: 20px;
}

.lonk:hover {
    animation: rotateLonk 3s infinite
}

@keyframes rotateLonk {
    100% {transform: rotate(360deg);}
}